body {
    background-color: #000;
    color: #fff;
}

#header {
    border: 2px solid #BFBFBF;
}

#sidebar {
    border: 2px solid #BFBFBF;
    width: 15%;
    float: left;
    height: 700px;
}
#sidebar li {
    list-style-type: none;
}

#console {
    border: 2px solid #BFBFBF;
    font-family: courier, monospace;
    margin-left: 15%;
    font-size:14px;
    height: 700px;
    padding-left: 5px;
}

a {
    color: #0bc;
    text-decoration: none;
}

#a {
    color: #0f0;
}

#c {
    color: #0bc;
}

#b {
    color: #ff0096;
}